.second {
  @apply h-fit w-[100%] bg-black px-4 pt-[5rem];
}

.text {
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  animation: animate 1.5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.second div:nth-child(1) {
  background: linear-gradient(120deg, #6968f7, #ff51eb);
  /* background-color: #6968f7; */
}
.second div:nth-child(3) ul {
  list-style: none;
}

@keyframes animate {
  100% {
    filter: hue-rotate(360deg);
  }
}
